@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #636363;
}
.scientific__calc {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.scientific__calc .calc__container {
  width: 90%;
  max-width: 600px;
  border: 1px solid black;
  border-radius: 0 0 20px 20px;
  height: auto;
  overflow: hidden;
}
.output {
  width: 100%;
  background-color: #878787;
}
.output .operation {
  padding: 1rem;
  margin-bottom: 5px;
  overflow: hidden;

  height: 70px;
  font-size: 1.9rem;
  font-weight: bold;
  position: relative;
}
.operation .value {
  position: absolute;

  bottom: 5px;
  right: 10px;

  white-space: nowrap;
  overflow: hidden;
}
.output .result {
  font-weight: bold;
  font-size: 2.6rem;
  overflow: hidden;
  position: relative;

  height: 100px;
}
.result .value {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  right: 10px;

  white-space: nowrap;
  overflow: hidden;
}
.input {
  padding: 25px 10px;
  display: grid;
  place-items: center;
  grid-gap: 30px;
  background-color: white;
}
.input .row {
  display: grid;
  grid-gap: 14px;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  align-items: center;
}
.input .row button {
  height: 45px;
  aspect-ratio: 1;

  font-size: 1.6rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;

  border-radius: 5px;
  margin: 8px;

  cursor: pointer;
}
.row button:hover {
  font-weight: bold;
}

#delete {
  background-color: rgb(224, 82, 72);
  color: white;
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1;
}
#division,
#multiplication,
#subtraction,
#addition {
  color: #18b893;
}
#calculate {
  grid-column: span 2 !important;
  width: 120px;
  margin-right: 10px;
  background-color: #18b893;
  border-radius: 50px;
  color: white;
}
.input button span {
  position: absolute;
  font-size: 0.6em;
}
.active-angle {
  background-color: #1d1d1d !important;
  color: #fff !important;
  border-radius: 10px !important;
}
